<a href="https://colab.research.google.com/github/shanto-swe029/Machine-Learning-Assignments/blob/main/Lab-Final/Problem-Set-02/logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import precision_score, recall_score, precision_recall_curve
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix
from sklearn.metrics import confusion_matrix, accuracy_score, roc_curve,roc_auc_score
%matplotlib inline

In [11]:
from google.colab import drive
drive.mount('/content/gdrive')
df = pd.read_csv('/content/gdrive/MyDrive/ml/bank-full.csv', header=0, delimiter=';')
df.head(20)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no

In [12]:
np.unique(df['job'])

array(['admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management',
       'retired', 'self-employed', 'services', 'student', 'technician',
       'unemployed', 'unknown'], dtype=object)

In [13]:
counts = df[df['y'] == 'yes'].groupby(['y', 'contact']).size()
print(counts)

y    contact
yes  cellular     4369
     telephone     390
     unknown       530
dtype: int64

In [14]:
np.unique(df['poutcome'])

array(['failure', 'other', 'success', 'unknown'], dtype=object)

In [15]:
X = df.drop('y', axis=1)
y = np.where(df['y'] == 'yes', 1, 0)
print(X.head())
print(y)

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome
0  unknown    5   may       261         1     -1         0  unknown
1  unknown    5   may       151         1     -1         0  unknown
2  unknown    5   may        76         1     -1         0  unknown
3  unknown    5   may        92         1     -1         0  unknown
4  unknown    5   may       198         1     -1         0  unknown
[0 0 0 ... 1 0 0]

In [16]:
le = LabelEncoder()
columns_to_encode = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
for column in columns_to_encode:
    X[column] = le.fit_transform(X[column])
print(X)

       age  job  marital  education  default  balance  housing  loan  contact  \
0       58    4        1          2        0     2143        1     0        2
1       44    9        2          1        0       29        1     0        2
2       33    2        1          1        0        2        1     1        2
3       47    1        1          3        0     1506        1     0        2
4       33   11        2          3        0        1        0     0        2
...    ...  ...      ...        ...      ...      ...      ...   ...      ...
45206   51    9        1          2        0      825        0     0        0
45207   71    5        0          0        0     1729        0     0        0
45208   72    5        1          1        0     5715        0     0        0
45209   57    1        1          1        0      668        0     0        1
45210   37    2        1          1        0     2971        0     0        0

       day  month  duration  campaign  pdays  previous  poutcome
0        5      8       261         1     -1         0         3
1        5      8       151         1     -1         0         3
2        5      8        76         1     -1         0         3
3        5      8        92         1     -1         0         3
4        5      8       198         1     -1         0         3
...    ...    ...       ...       ...    ...       ...       ...
45206   17      9       977         3     -1         0         3
45207   17      9       456         2     -1         0         3
45208   17      9      1127         5    184         3         2
45209   17      9       508         4     -1         0         3
45210   17      9       361         2    188        11         1

[45211 rows x 16 columns]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
x_train = scaler.fit_transform(X_train)
x_test = scaler.transform(X_test)

Fit a logistic regression model with sklearn

In [18]:
#Implementing Logistic Regression using sklearn
modelLogistic = LogisticRegression()
modelLogistic.fit(x_train,y_train)

LogisticRegression()

In [19]:
#Make prediction for the test data
y_pred= modelLogistic.predict(x_test)
y_pred_proba = modelLogistic.predict_proba(x_test)
print(y_pred_proba)

[[0.9840429  0.0159571 ]
 [0.96452121 0.03547879]
 [0.93507966 0.06492034]
 ...
 [0.98574393 0.01425607]
 [0.99463757 0.00536243]
 [0.96553979 0.03446021]]

In [20]:
#Obtain regression coefficients b0 and b1
print("b0= ", modelLogistic.intercept_)
print("b1= ", modelLogistic.coef_)

b0=  [-2.70678865]
b1=  [[ 0.09687124  0.02897263  0.12904345  0.13566179 -0.0574339   0.04791414
  -0.51620612 -0.24790342 -0.59254543 -0.0406231   0.1126379   1.01596481
  -0.39343323  0.35414337  0.20733713  0.20918804]]

In [21]:
#Creating confusion matrix
ConfusionMatrix = confusion_matrix(y_test, y_pred)
print(ConfusionMatrix)

## Display the visualization of the Confusion Matrix.
plt.show()

[[7793  159]
 [ 854  237]]

In [22]:
#Accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy of the model: {accuracy}')

Accuracy of the model: 0.8879796527700984

In [23]:
#Accuracy from the confusion matrix
TP= ConfusionMatrix[1,1] #True positive
TN= ConfusionMatrix[0,0] #True negative
Total=len(y_test)
print("Accuracy from confusion matrix is : ", (TN+TP)/Total)

Accuracy from confusion matrix is :  0.8879796527700984